@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;500&display=swap');
*{
    font-family: 'Zilla Slab', serif;
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}
:root {
    --black-theme : #000000;
    --active-color : white;
    --theme-color : #afafaf;
    --hover-color : #6a6a6a;
    --example-color : #f7f7f7;
}
.container {
    margin: 50px;
    margin-top : 0px;
    margin-bottom: 0px;
}
.header {
    text-align: center;
    padding: 100px 0px;
    border-bottom: 2px solid var(--theme-color);
}
.logo {
    display: inline-block;
    text-align: center;
    font-size: 2.5rem; 
    min-height: 50px;  
    min-width: 50px;
    border-radius: 50%;
    background-color: var(--black-theme);
    color : var(--active-color);
    padding: auto;
}
.header .title {
    font-size: 2rem;
    color : var(--theme-color);
}
.header .title:hover {
    color : #6a6a6a;
    cursor : pointer;
}
.nav {
    display: flex;
    justify-content: center;
}
ul {
    /* for solving white space */
    font-size: 0px;
    margin-top: 14px;
    list-style-type: none;
}
.nav a {
    text-decoration: none;
    color : var(--theme-color);
    font-size : 1.3rem;
}
a:hover {
    cursor : pointer;
    color : var(--hover-color);
}
.nav ul {
    text-align: center;
}
.nav ul .list{
    display: inline;
}
.no-right-border {
    padding: 15px;
}
.list a:not(.no-right-border){
    padding: 15px;
    border-right: 2px solid var(--theme-color);
} 
#active {
    background-color: var(--black-theme);
    color : white;
    border: none;
}
#slider {
    position: relative;
    margin-top: 15px;
}
#slider img {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    max-height: 600;
    display: none;
}
.img-active {
    display: block !important;
}
#prev, #next {
    background-color: white;
    height: 40px;
    width: 40px;
    position: absolute;
    border:none;
    border-radius: 20px;
    cursor : pointer;
    font-size: 1.5rem;
    top: 50%;
    font-weight: bold;
}
#prev {
    left : -15px;
}
#next {
    right: -15px;
}
.popular-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-theme);
    color : var(--active-color);
    font-size: 2rem;
    max-height: 50px;
}
.example-part {
    background-color: var(--example-color);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    height: 400px;
    padding-top: 20px;
}
.example-part .each-example {
    text-align: center;
    margin: 20px 10px;
    border-radius: 50%;
    height: 200px;
    max-width: 200px;
}
.example-part .each-example .example-img {
    border-radius: 50%;
    width: 100%;
}
.example-explain {
    display: inline-block;
    margin-top: 20px; 
}
.example-btn {
    border: none;
    border-radius: 5px;
    color : white;
    background-color: var(--theme-color);
    margin:15px;
    min-width: 80px;
    height: 30px;
    transition: 0.3s;
}
.example-btn:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}
.info {
    background-color: var(--example-color);
    margin-top: 10px;
    min-height: 300px;
    display: grid;
    padding: 40px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}
.header-svg{
    min-width: 50px;
    max-width: 50px;
}
.info-header {
    display: flex;
    align-items: center;
}
.info-title {
    font-weight: bold;
    font-size: 2rem;
}
.info-explain {
    color : var(--hover-color);
    line-height: 20px;
    margin-top: 30px;
    font-size: 1.1rem;
    /* height: 100px; */
    /* max-width: 500px; */
}
.read-more {
    min-width: 20px;
    max-width: 20px;
}
.info-button {
    color : var(--hover-color);
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-size : 1.5rem;
}
.info-button:hover {
    cursor: pointer;
    color : black;
}
.about-us {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    max-height: 400px;
}
.advantage {
    display: flex;
    justify-content: center;
}
.adv-section span {
    display: block;
}
.adv-explain {
    margin: 15px;
}
.word {
    position: relative;
    background-color: var(--theme-color);
    color : white;
    max-width: 100px;
    margin : 15px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.word p {
    position: absolute;
    top : 32%;
    left: 38%;
}
.adv-btn {
    border: none;
    border-radius: 5px;
    color : white;
    background-color: var(--theme-color);
    margin:15px;
    max-width: 80px;
    text-align: center;
    transition: 0.3s;
}
.adv-btn:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}
.test {
    margin : 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.test span {
    font-weight: bolder;
    font-size: 1.5rem;
}
.useful-list {
    list-style-type:disc;
    font-size: 1.1rem;
}
.testimonials img{
    display: inline-block;
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
}
.testimonials .test-explain {
    display: inline-block;
    width: 250px;
}
.footer {
    text-align: center;
    padding-top : 100px;
}
.footer .title {
    font-size: 2rem;
    color : var(--theme-color);
}
.footer .title:hover {
    color : #6a6a6a;
    cursor : pointer;
}
.programmer {
    margin: 10px;
}
.end {
    height: 20px;
    background-color: black;
}
@media screen and (max-width : 768px){
    .container {
        margin: 0px;
    }
    ul {
        width: 100%;
    }
    .nav ul .list{
        display: block;
        border-bottom: 1px solid var(--theme-color);
    }
    .nav ul .list a {
        border: none;
    }
    .header {
        border: none;
    }
    #active {
        background : none;
        color : black;
    }
    .example-part{
        grid-template-columns: 1fr;
        height: 1500px;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .test {
        display: none;
    }
    .about-us {
        grid-template-columns: 1fr;
    }
    .footer {
        margin-top: 250px;
    }
}